@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #5B4A43;
  background-color: #E7E4E1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* place-items: center; */
  /* min-width: 320px; */
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #B07242;
  cursor: pointer;
  margin: 0.6em;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #B07242;
  color: #B07242;
  background: transparent;
  transition: background-color 0.25s ease, color .25s ease;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

input {
  padding: 0.6em 1.2em;
  background: transparent;
  border: 2px solid #5B4A43;
  border-radius: 8px;
  margin: 0.2em;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(12deg);
}

textarea {
  color: #5B4A43;
  background: transparent;
  border: 2px solid #5B4A43;
}

select {
  color: #5B4A43;
  background: transparent;
  border: 2px solid #5B4A43;
}

input[type="time"] {
  color: #5B4A43;
  background: #E7E4E1;
  border: 2px solid #5B4A43;
}

input[type="number"] {
  color: #5B4A43;
  background: #E7E4E1;
  border: 2px solid #5B4A43;
}

input[type="file"] {
  border: 0px;
}

input[type="file"]::-webkit-file-upload-button{ 
  background-color: #5B4A43;
  border: 0px;
  color: #E7E4E1;
  padding: 0.6em 1.2em;
  border-radius: 8px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}